
# Playwright
node_modules/
/test-results/
/playwright-report/
/blob-report/
/playwright/.cache/
/playwright/.auth/
.env
allure**
results.json
results
/test-data/states
test-data/users.ts
test-data/states/validUser1StorageState.json
